### West Nile Virus Predictions
Team members: Mike Thisyamondal, Rajan Mamtani, Steven Trojanowski, Laura Roman
<br>Modeling working attributed to Mike and Steve

The goal of this project is to attempt to predict future outbreakes of West Nile Virus (WNV) in Chiago. This is based on this project from [kaggle](https://www.kaggle.com/c/predict-west-nile-virus/). To accomplish this task we have data from the years 2007, 2009, 2011, and 2013. This ineluded weather and times the city would spray for mosquitoes. This post will take us through the project and our conclusions.

First thing is to import the standard packages we will be using. There will be more but this is a good start.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#This sends warning messages to the cornfield

import warnings
def ignore_warnings(*args, **kwargs):
    pass
warnings.warn = ignore_warnings

Read in the csv files that contain the data.

In [2]:
spray = pd.read_csv("./all/spray.csv")
weather = pd.read_csv("./all/weather.csv")
train = pd.read_csv("./all/train.csv")
test = pd.read_csv("./all/test.csv")

#### EDA

Spray Dataset

In [3]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [4]:
spray.shape

(14835, 4)

In [5]:
spray.dtypes

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

In [6]:
spray.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

In [7]:
spray[spray["Time"].isnull()].head()

            Date Time   Latitude  Longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014

Observations:
- Null values are from 1 date, 9/7/2011
- Should potentially change date column into datetime object.

Weather Dataset

In [8]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [9]:
weather.shape

(2944, 22)

In [10]:
weather.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [11]:
# weather.isnull().sum()

Now that the data has been read and we explored it a bit lets clean it up a bit.

In [12]:
weather["Tmax"].value_counts().sort_values(ascending=False).head()

84    128
79    121
82    118
81    117
83    109
Name: Tmax, dtype: int64

In [13]:
weather[weather["Tmax"].apply(type) != int]

Empty DataFrame
Columns: [Station, Date, Tmax, Tmin, Tavg, Depart, DewPoint, WetBulb, Heat, Cool, Sunrise, Sunset, CodeSum, Depth, Water1, SnowFall, PrecipTotal, StnPressure, SeaLevel, ResultSpeed, ResultDir, AvgSpeed]
Index: []

[0 rows x 22 columns]

In [14]:
weather["Tmin"].value_counts().sort_values(ascending=False).head()

63    121
65    111
60    109
61    106
62    105
Name: Tmin, dtype: int64

In [15]:
weather[weather["Tavg"] == "M"]

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
505,2,2008-07-08,86,46,M,M,68,71,M,M,...,TS RA,M,M,M,0.28,29.16,29.80,7.4,24,8.3
675,2,2008-10-01,62,46,M,M,41,47,M,M,...,,M,M,M,0.00,29.30,29.96,10.9,33,11.0
1637,2,2011-07-22,100,71,M,M,70,74,M,M,...,TS TSRA BR,M,M,M,0.14,29.23,29.86,3.8,10,8.2
2067,2,2012-08-22,84,72,M,M,51,61,M,M,...,,M,M,M,0.00,29.39,M,4.7,19,M
2211,2,2013-05-02,71,42,M,M,39,45,M,M,...,,M,M,M,0.00,29.51,30.17,15.8,2,16.1
2501,2,2013-09-24,91,52,M,M,48,54,M,M,...,,M,M,M,0.00,29.33,30.00,5.8,9,7.7
2511,2,2013-09-29,84,53,M,M,48,54,M,M,...,RA BR,M,M,M,0.22,29.36,30.01,6.3,36,7.8
2525,2,2013-10-06,76,48,M,M,44,50,M,M,...,RA DZ BR,M,M,M,0.06,29.10,29.76,10.1,25,10.6
2579,2,2014-05-02,80,47,M,M,43,47,M,M,...,RA,M,M,M,0.04,29.10,29.79,10.7,23,11.9
2811,2,2014-08-26,86,49,M,M,68,71,M,M,...,,M,M,M,T,29.41,30.04,1.3,15,5.8

In [16]:
weather[weather["Tavg"] == "T"]

Empty DataFrame
Columns: [Station, Date, Tmax, Tmin, Tavg, Depart, DewPoint, WetBulb, Heat, Cool, Sunrise, Sunset, CodeSum, Depth, Water1, SnowFall, PrecipTotal, StnPressure, SeaLevel, ResultSpeed, ResultDir, AvgSpeed]
Index: []

[0 rows x 22 columns]

In [17]:
weather["Tavg"].value_counts().sort_values(ascending=False).head()

73    138
70    117
77    117
75    110
71    109
Name: Tavg, dtype: int64

In [18]:
weather["Depart"].value_counts().sort_values(ascending=False).head()

M     1472
 2      93
-1      84
-2      80
 5      77
Name: Depart, dtype: int64

In [19]:
weather[weather["Depart"] == "M"]

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,,M,M,M,0.00,29.44,30.12,8.5,17,9.9
15,2,2007-05-08,80,60,70,M,57,63,0,5,...,HZ,M,M,M,T,29.36,30.02,2.5,8,5.4
17,2,2007-05-09,76,63,70,M,60,63,0,5,...,BR HZ,M,M,M,0.02,29.28,29.93,3.9,7,5.9
19,2,2007-05-10,83,59,71,M,52,61,0,6,...,BR HZ,M,M,M,0.00,29.26,29.91,2.0,9,3.9
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,,M,M,M,0.00,29.39,30.03,11.7,36,12.8
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,,M,M,M,0.00,29.54,30.19,12.7,1,13.0
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,,M,M,M,0.00,29.55,30.24,6.4,11,7.6
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,,M,M,M,0.00,29.31,29.98,14.1,21,14.6
29,2,2007-05-15,82,56,69,M,56,61,0,4,...,TSRA RA BR,M,M,M,0.60,29.19,29.83,8.1,25,10.8
31,2,2007-05-16,64,45,55,M,42,47,10,0,...,RA BR,M,M,M,0.07,29.39,30.03,8.0,36,11.8
33,2,2007-05-17,61,44,53,M,32,43,12,0,...,,M,M,M,0.00,29.62,30.27,11.7,1,12.2
35,2,2007-05-18,70,43,57,M,31,47,8,0,...,,M,M,M,0.00,29.60,30.26,3.4,22,5.5
37,2,2007-05-19,80,56,68,M,37,53,0,3,...,,M,M,M,0.00,29.41,30.08,11.1,23,11.4
39,2,2007-05-20,69,44,57,M,41,45,8,0,...,TSRA RA,M,M,M,0.11,29.44,30.11,8.6,3,9.7
41,2,2007-05-21,79,46,63,M,50,57,2,0,...,,M,M,M,0.00,29.39,30.05,6.3,10,7.8
43,2,2007-05-22,87,60,74,M,44,58,0,9,...,,M,M,M,0.00,29.41,30.05,10.1,16,10.6
45,2,2007-05-23,89,66,78,M,48,61,0,13,...,,M,M,M,0.00,29.47,30.10,10.9,18,11.2
47,2,2007-05-24,88,66,77,M,53,63,0,12,...,RA HZ,M,M,M,T,29.47,30.10,13.8,20,15.2
49,2,2007-05-25,66,57,62,M,46,53,3,0,...,RA BR,M,M,M,0.09,29.57,30.23,4.5,5,8.2
51,2,2007-05-26,70,50,60,M,55,57,5,0,...,TSRA RA BR,M,M,M,0.28,29.42,30.10,2.5,15,7.8
53,2,2007-05-27,75,59,67,M,49,57,0,2,...,RA BR,M,M,M,0.08,29.41,30.05,8.2,24,9.2
55,2,2007-05-28,76,54,65,M,49,57,0,0,...,,M,M,M,0.00,29.49,30.14,4.7,8,5.2
57,2,2007-05-29,88,65,77,M,59,66,0,12,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
59,2,2007-05-30,89,70,80,M,57,66,0,15,...,HZ,M,M,M,0.00,29.38,30.03,9.7,17,10.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,2,2014-10-02,75,66,71,M,63,65,0,6,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
2887,2,2014-10-03,68,46,57,M,47,52,8,0,...,RA BR,M,M,M,1.05,29.02,29.66,14.0,28,15.6
2889,2,2014-10-04,49,37,43,M,35,41,22,0,...,RA DZ,M,M,M,0.05,29.07,29.74,13.6,25,13.5
2891,2,2014-10-05,56,42,49,M,36,44,16,0,...,RA,M,M,M,T,29.02,29.70,10.1,23,10.7
2893,2,2014-10-06,63,48,56,M,40,47,9,0,...,,M,M,M,0.01,28.95,29.62,9.5,23,10.5
2895,2,2014-10-07,69,49,59,M,45,51,6,0,...,,M,M,M,0.00,29.06,29.70,10.3,24,11.7
2897,2,2014-10-08,67,48,58,M,36,48,7,0,...,,M,M,M,0.00,29.34,29.97,10.7,27,11.2
2899,2,2014-10-09,64,50,57,M,36,46,8,0,...,,M,M,M,0.00,29.44,30.09,3.4,2,6.3
2901,2,2014-10-10,59,44,52,M,40,46,13,0,...,,M,M,M,0.00,29.49,30.16,3.8,2,5.2
2903,2,2014-10-11,60,40,50,M,36,44,15,0,...,,M,M,M,0.00,29.53,30.20,3.5,8,4.7
2905,2,2014-10-12,64,45,55,M,44,50,10,0,...,RA DZ BR,M,M,M,0.01,29.31,30.00,9.5,14,9.9
2907,2,2014-10-13,71,59,65,M,61,62,0,0,...,RA BR HZ,M,M,M,0.44,29.03,29.73,7.5,15,8.9
2909,2,2014-10-14,67,54,61,M,59,60,4,0,...,RA DZ BR,M,M,M,1.18,28.89,29.54,1.8,12,8.6
2911,2,2014-10-15,58,53,56,M,53,54,9,0,...,RA DZ BR,M,M,M,0.07,29.10,29.74,9.4,35,9.7
2913,2,2014-10-16,58,53,56,M,52,53,9,0,...,DZ BR,M,M,M,T,29.09,29.77,5.4,25,8.4
2915,2,2014-10-17,63,49,56,M,48,52,9,0,...,,M,M,M,0.01,29.05,29.69,10.7,28,12.7
2917,2,2014-10-18,52,39,46,M,40,44,19,0,...,RA,M,M,M,0.02,29.44,30.08,7.6,34,8.7
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,,M,M,M,0.00,29.39,30.09,8.8,21,9.0
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,,M,M,M,0.00,29.23,29.90,4.9,32,9.1
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,,M,M,M,0.00,29.51,30.15,11.0,36,11.6
2925,2,2014-10-22,56,43,50,M,38,44,15,0,...,,M,M,M,0.00,29.62,30.30,3.0,11,5.1
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,BR,M,M,M,T,29.46,30.16,7.9,19,8.4
2929,2,2014-10-24,68,54,61,M,48,53,4,0,...,,M,M,M,0.00,29.31,30.00,4.9,22,5.8
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,BR HZ,M,M,M,0.00,29.27,29.92,9.7,28,10.4
2933,2,2014-10-26,66,44,55,M,33,45,10,0,...,,M,M,M,0.00,29.28,29.95,1.6,11,5.4
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [20]:
weather[weather["Depart"] == "T"]

Empty DataFrame
Columns: [Station, Date, Tmax, Tmin, Tavg, Depart, DewPoint, WetBulb, Heat, Cool, Sunrise, Sunset, CodeSum, Depth, Water1, SnowFall, PrecipTotal, StnPressure, SeaLevel, ResultSpeed, ResultDir, AvgSpeed]
Index: []

[0 rows x 22 columns]

In [21]:
weather["DewPoint"].value_counts().sort_values(ascending=False).head()

59    128
54    125
55    114
60    113
61    110
Name: DewPoint, dtype: int64

In [22]:
weather["WetBulb"].value_counts().sort_values(ascending=False).head()

63    135
65    131
59    129
61    123
64    121
Name: WetBulb, dtype: int64

In [ ]:
# weather[weather["WetBulb"] == "M"]

In [ ]:
# weather[weather["WetBulb"] == "T"]

In [23]:
weather["Heat"].value_counts().sort_values(ascending=False)

0     1870
4       88
1       86
2       81
8       67
3       66
5       61
15      57
7       49
12      49
10      48
11      48
13      46
9       46
6       45
14      36
16      29
20      28
19      24
18      24
21      19
17      17
23      15
22      12
M       11
24       7
25       5
26       4
29       2
27       2
28       2
Name: Heat, dtype: int64

In [ ]:
# weather[weather["Heat"] == "M"]

In [25]:
weather[weather["Heat"] == "T"]

Empty DataFrame
Columns: [Station, Date, Tmax, Tmin, Tavg, Depart, DewPoint, WetBulb, Heat, Cool, Sunrise, Sunset, CodeSum, Depth, Water1, SnowFall, PrecipTotal, StnPressure, SeaLevel, ResultSpeed, ResultDir, AvgSpeed]
Index: []

[0 rows x 22 columns]

In [ ]:
weather["Cool"].value_counts().sort_values(ascending=False)

In [ ]:
weather["Sunrise"].value_counts().sort_values(ascending=False).head()

In [ ]:
weather["Sunset"].value_counts().sort_values(ascending=False).head()

In [ ]:
weather["Depth"].value_counts()

In [ ]:
weather["SnowFall"].value_counts()

In [ ]:
#Drop column
weather["Water1"].value_counts()

In [ ]:
#Drop column
weather["CodeSum"].value_counts().head()

In [ ]:
weather["PrecipTotal"].value_counts().sort_values(ascending=False).head()

In [ ]:
weather["StnPressure"].value_counts().sort_values(ascending=False).head()

In [ ]:
weather["SeaLevel"].value_counts().sort_values(ascending=False).head()

In [ ]:
weather["ResultSpeed"].value_counts().sort_values(ascending=False).head()

In [ ]:
weather["ResultDir"].value_counts().sort_values(ascending=False).head()

In [24]:
weather["AvgSpeed"].value_counts().sort_values(ascending=False).head()

6.9    63
5.8    60
7.4    55
8.1    49
7.0    47
Name: AvgSpeed, dtype: int64

In [ ]:
weather.replace("T", 1e-3, inplace = True)
weather.replace(" T", 1e-3, inplace = True)
weather.replace("  T", 1e-3, inplace = True)

In [ ]:
weather.drop("CodeSum", axis = 1, inplace = True)

In [ ]:
weather.drop("Water1", axis = 1, inplace = True)

In [ ]:
weather.drop("SnowFall", axis = 1, inplace = True)

In [ ]:
weather.drop("Depth", axis = 1, inplace = True)

In [ ]:
weather

In [ ]:
weather_1 = weather[weather['Station']==1]
weather_2 = weather[weather['Station']==2]

In [ ]:
weather_combined = weather_1.merge(weather_2, on='Date', suffixes=("_1", "_2"))

In [ ]:
weather_combined.shape
pd.set_option("display.max_columns", 40)
weather_combined.head()

In [ ]:
weather_combined.drop("Station_1", axis = 1, inplace = True)
weather_combined.drop("Station_2", axis = 1, inplace = True)

In [ ]:
weather_combined["Tavg_2"].replace("M", (weather_combined["Tmax_2"] + weather_combined["Tmin_2"])/2, inplace=True)

In [ ]:
weather_combined["Heat_2"].replace("M", weather_combined["Heat_1"], inplace = True)

In [ ]:
weather_combined["Cool_2"].replace("M", weather_combined["Cool_1"], inplace = True)

In [ ]:
weather_combined["Date"] = pd.to_datetime(weather_combined["Date"])

In [ ]:
weather_combined.drop("Sunrise_2", axis = 1, inplace = True)

In [ ]:
weather_combined.drop("Sunset_2", axis = 1, inplace = True)

In [ ]:
weather_combined.head()

Observations:

Train Dataset

In [ ]:
train.head()

In [ ]:
train.shape

In [ ]:
train.dtypes

In [ ]:
train.isnull().sum()

In [ ]:
train["Species"].value_counts()

In [ ]:
train["Address"].value_counts().head()

In [ ]:
train["WnvPresent"].value_counts(normalize = True)

Observations:
- Classes are imbalanced. Will need to balance.
- Should potentially change date column into datetime object.

Test Dataset

In [ ]:
test.head(20)

In [ ]:
test.shape

In [ ]:
test.dtypes

In [ ]:
test["Species"].value_counts()

In [ ]:
test["Address"].value_counts().head()

Observations:
- Does not contain NumMosquitos column; should not be used as a predictor.
- Should potentially change date column into datetime object.
- Not all cats are present in both train and test sets, need to fix before creating dummy variables

#### Spray data edits

In [ ]:
spray.head()

In [ ]:
columns =  ['Time']
spray.drop(columns, inplace=True, axis=1)

In [ ]:
from datetime import datetime
spray['Date'] = pd.DatetimeIndex(spray['Date'])

In [ ]:
spray.head()

#### Spray outliers: show and remove

In [ ]:
import seaborn as sns
sns.boxplot(spray['Latitude'])

In [ ]:
sns.boxplot(spray['Longitude'],color='green')

In [ ]:
spray[spray.Longitude<=-87.9].shape[0]

In [ ]:
spray[spray.Latitude>=42.1].shape[0]

Create filter for Longitude outliers

In [ ]:
long_ol = spray['Longitude']<=-87.9
spray[long_ol].shape

In [ ]:
spray[~long_ol].shape

Remove spray outliers

In [ ]:
spray.shape

In [ ]:
spray = spray[~long_ol]

In [ ]:
spray.shape

#### Add Airport Locations

Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level<br>
Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

In [ ]:
#ohare, midway locations
airport_lat  = [41.995, 41.786]
airport_long = [-87.933,-87.752]

In [ ]:
a_lat = pd.Series(airport_lat)
a_long = pd.Series(airport_long)

#### Map with spray data, and airport locations

In [ ]:
# Code is borrowed from: https://www.kaggle.com/users/213536/vasco/predict-west-nile-virus/west-nile-heatmap

#import pandas as pd
#import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline # Remove this when copying to a script on Kaggle:

mapdata = np.loadtxt('./all/mapdata_copyright_openstreetmap_contributors.txt')
#traps = pd.read_csv('../input/train.csv')[['Date', 'Trap','Longitude', 'Latitude', 'WnvPresent']]

aspect = mapdata.shape[0] * 1.0 / mapdata.shape[1]
lon_lat_box = (-88, -87.5, 41.6, 42.1)

plt.figure(figsize=(10,14))
plt.imshow(mapdata, 
           cmap=plt.get_cmap('gray'), 
           extent=lon_lat_box, 
           aspect=aspect)

locations = train[['Longitude', 'Latitude']].drop_duplicates().values
plt.scatter(locations[:,0], locations[:,1], marker='o',c='k',label = "Mosquito Traps")
plt.scatter(a_long, a_lat, marker = "o",c ='green',label="Airport")
plt.scatter(spray['Longitude'],spray['Latitude'],label="Spray")
plt.legend()

# Test and Train Data

This is the testing and training data. The first thing that we do is merge the two data sets. This was done so that we could use pd.get_dummies and not have uneven rows if vaoues exist in one df and not the other. I'll have to change the method to use the Label Encoder in the future so the purity of the two data sets can be preserved.

In [ ]:
test_train = pd.concat([test,train],keys = ['test','train'],sort = False)

In [ ]:
test_train.index.levels[0].name = 'og'
test_train.index.levels[1].name = 'pip'

When merging datasets I use the pd.concat with keys. This creates a multidimentional dataframe which can cause issues for certain functions. A simple solution is to name the two indexes. I used the names 'og' and 'pip' because I think they are fun to say.

The below line changes all the column names to lower case. This makes it easier for me to type.

In [ ]:
test_train.columns = [i.lower().replace(' ','_') for i in test_train.columns.get_values()]

Now we change the date column to a datetime object.

In [ ]:
test_train.date=pd.to_datetime(test_train.date, format='%Y-%m-%d')

In [ ]:
test_train.date.head()

In [ ]:
test_train.trap.value_counts().head()

In [ ]:
test_train.info()

In [ ]:
test_train.select_dtypes(include='int')

Now to get_dummies. This really should have been done with the LabelEncoder

In [ ]:
test_train = pd.get_dummies(test_train, columns=['species','trap'])

In [ ]:
test_train.info(verbose=True)

In [ ]:
test_train.longitude

In [ ]:
test_train.latitude

I'm going to sugest we don't use Block, Address, and street. They give the same info as lat and lon.

Pulling out the latitude and longitude and storing them as ints. This should of been done as a lambda function. mire things to correst in the future.

In [ ]:
def lat_lon_int(x):
    return int(x*1000)

In [ ]:
test_train['lat_int'] = test_train.latitude.apply(lat_lon_int)

In [ ]:
test_train['lon_int'] = test_train.longitude.apply(lat_lon_int)

In [ ]:
def get_month(m):
    return m.month

Same thing with month and day. I should have taken year here too.

In [ ]:
test_train['month'] = test_train.date.apply(get_month)

In [ ]:
def get_day(d):
    return d.day

In [ ]:
test_train['day'] = test_train.date.apply(get_day)

In [ ]:
test_train.addressaccuracy.value_counts()

Some of the addressaccuracy scores were only 3. Most were 8 or 9. The map accuracy was taken from GeoCoder and a 3 is described as "Sub-region (county, municipality, etc.) level accuracy." Which isn't very good. For the project we decided to keep the values but I'll have to take a look at them in the redux.

In [ ]:
test_train.nummosquitos.value_counts()

In [ ]:
spray.info()

Putting the spray data into lowercase.

In [ ]:
spray.columns = [i.lower().replace(' ','_') for i in spray.columns.get_values()]

Changing the names of some columns that were duplicates with the test and train data. T shoud have found a better way to do this but there were only two columns that needed to be changed.

In [ ]:
spray.rename(columns={'latitude': 'latitude_spray', 'longitude': 'longitude_spray'}, inplace=True)

Seperating the test and train into two dataframes again.

In [ ]:
X_test = pd.DataFrame(test_train.loc['test'])
X_train = pd.DataFrame(test_train.loc['train'])
X_test.shape

Merging in the spray dataframe into the train df. The spray data only covered dates in the train data and not the test data so it was not merged with the test data.

In [ ]:
#X_test = X_test.merge(spray, on='date')
X_train = X_train.merge(spray, on='date')

In [ ]:
X_train.shape

Setting the values for the columns in weather combined to lower case.

In [ ]:
weather_combined.columns = [i.lower().replace(' ','_') for i in weather_combined.columns.get_values()]

This was a bit of a problem. I set all data with the values of 'M','-','T',' T', and '  T' to nan for easier clean up later. Unortunately, I replaced these values with mean and median values for the column. This is fine for the 'M" and '-' values but the various 'T' values stood for 'trace' and should have been set to zero.

In [ ]:
weather_combined = weather_combined.replace('M', np.NaN)
weather_combined = weather_combined.replace('-', np.NaN)
weather_combined = weather_combined.replace('T', np.NaN)
weather_combined = weather_combined.replace(' T', np.NaN)
weather_combined = weather_combined.replace('  T', np.NaN)

In [ ]:
weather_combined.info()

Dropping column depart_2 since it's compleatly NaN

In [ ]:
weather_combined.drop('depart_2',axis = 1,inplace=True)

In [ ]:
weather_combined.head()

The data in weather combined was in string format and not numbers. I converted these values to the proper format. In the redux I will find a better solution to this instead of brute force.

In [ ]:
weather_combined.tavg_1=weather_combined.tavg_1.apply(int) #avgspeed_1
weather_combined.depart_1=weather_combined.depart_1.apply(int)
weather_combined.wetbulb_1.fillna(weather_combined.wetbulb_1.median(),inplace=True)
weather_combined.wetbulb_1=weather_combined.wetbulb_1.apply(int)
weather_combined.heat_1=weather_combined.heat_1.apply(int)
weather_combined.cool_1=weather_combined.cool_1.apply(int)
weather_combined.sunrise_1=weather_combined.sunrise_1.apply(int)
weather_combined.sunset_1=weather_combined.sunset_1.apply(int)
weather_combined.preciptotal_1=weather_combined.preciptotal_1.apply(float)
weather_combined.stnpressure_1=weather_combined.stnpressure_1.apply(float)
weather_combined.stnpressure_1.fillna(weather_combined.stnpressure_1.mean(),inplace=True)
weather_combined.sealevel_1=weather_combined.sealevel_1.apply(float)
#weather_combined.avgspeed_1.fillna(weather_combined.avgspeed_1.mean(),inplace=True)
weather_combined.avgspeed_1=weather_combined.avgspeed_1.apply(float)
weather_combined.avgspeed_1.fillna(weather_combined.avgspeed_1.mean(),inplace=True)
weather_combined.tavg_2=weather_combined.tavg_2.apply(int)
weather_combined.wetbulb_2.fillna(weather_combined.wetbulb_2.median(),inplace=True)
weather_combined.wetbulb_2=weather_combined.wetbulb_2.apply(int)
weather_combined.heat_2=weather_combined.heat_2.apply(int)
weather_combined.cool_2=weather_combined.cool_2.apply(int)
weather_combined.preciptotal_2=weather_combined.preciptotal_2.apply(float)
weather_combined.preciptotal_2.fillna(weather_combined.preciptotal_2.mean(),inplace=True)
weather_combined.stnpressure_2=weather_combined.stnpressure_2.apply(float)
weather_combined.stnpressure_2.fillna(weather_combined.stnpressure_2.mean(),inplace=True)
weather_combined.sealevel_2=weather_combined.sealevel_2.apply(float)
weather_combined.sealevel_2.fillna(weather_combined.sealevel_2.mean(),inplace=True)
weather_combined.avgspeed_2=weather_combined.avgspeed_2.apply(float)
weather_combined.avgspeed_2.fillna(weather_combined.avgspeed_2.mean(),inplace=True)

Merge weather into X_train

In [ ]:
#X_test = X_test.merge(weather_combined, on='date')
X_train = X_train.merge(weather_combined, on='date')

Droping id as it's an internal identifier and has no bearing on anything.

In [ ]:
X_train.drop('id',axis=1, inplace=True)

In [ ]:
X_train.info(verbose=True, null_counts=True)

In [ ]:
X_test.shape

Merge weather into X_test

In [ ]:
X_test = X_test.merge(weather_combined, on='date')
X_test.shape

Dropping 'nummosquitos' and 'wnvpresent' because it's just garbage from the merger of train and test.

In [ ]:
X_test.drop(['nummosquitos','wnvpresent'],axis=1,inplace=True)

In [ ]:
X_test.info(verbose=True, null_counts=True)

Writing relatively clean data to new csv files.

In [ ]:
X_train.to_csv('./data/train.csv',index=False)
X_test.to_csv('./data/test.csv',index=False)

In [ ]:
X_train = pd.read_csv('./data/train.csv')
X_test = pd.read_csv('./data/test.csv')

The goal in this section is to create a dataframe that can be used for graphs and charts. This will require undoind some of our work in the past. In the future cleaning of data should be compleated and saved before creating dummies. More work for the redux.

Merging X_train and X_test again into df_data

In [ ]:
df_data = pd.concat([X_test,X_train],sort = False)

Droping id and a large number of dummy columns

In [ ]:
df_data.drop('id', axis =  1, inplace=True) 
df_data.drop(df_data.loc[:,'species_CULEX ERRATICUS':'trap_T903'].columns, axis=1, inplace=True)

Filling NaN with negative ones for graphs

In [ ]:
df_data.fillna(-1,inplace=True)

Converting date back to datetime

In [ ]:
df_data.date=pd.to_datetime(df_data.date, format='%Y-%m-%d')

In [ ]:
df_data.info(verbose = True)

Getting the original train and test to get the original values that were turned into dummies

In [ ]:
train = pd.read_csv("./all/train.csv")
test = pd.read_csv("./all/test.csv")

In [ ]:
df_data2 = pd.concat([test,train],sort = False)

In [ ]:
df_data2.info()

In [ ]:
df_data2.columns = [i.lower().replace(' ','_') for i in df_data2.columns.get_values()]

In [ ]:
df_data2.date=pd.to_datetime(df_data2.date, format='%Y-%m-%d')

In [ ]:
df_data3 = df_data2[['species','trap']].copy()

In [ ]:
df_data3.info()

In [ ]:
del df_data2

In [ ]:
df_data.to_csv('./data/temp.csv',index=False)
df_data3.to_csv('./data/temp2.csv',index=False)

In [ ]:
df_data = pd.read_csv('./data/temp.csv')
df_data3 = pd.read_csv('./data/temp2.csv')

In [ ]:
df_data.info(verbose= True)

In [ ]:
df_data3.info(verbose= True)

In [ ]:
df_data2 = pd.concat([df_data,df_data3],axis = 1,sort = False)

Saving the data to a csv

In [ ]:
df_data2.to_csv('./data/graph.csv')

Time to model.

I was assigned to model the data using the KNN, Random Forest and XGBoost. one of the issues I had was that I failed to account fot the extreme imbalance between positive cases for WNV and negative cases. In the redux I'll have to correct that oversite as I feel it greatly impacted my scores.

Loading in the test and train model just in case.

In [ ]:
X_train = pd.read_csv('./data/train.csv')
X_test = pd.read_csv('./data/test.csv')

Setting the y values to be based on WNV present and Number of Mosquitoes. The project calls for us to find if WNV is present but I felt that predicting the number of mosquitoes with regression models might be interesting. Unfortunately, There was not time for that.

In [ ]:
y_train_wnv = pd.DataFrame(X_train.wnvpresent)
y_train_mos = pd.DataFrame(X_train.nummosquitos)

Dropping columns that were strings or that should not be present.

In [ ]:
X_train.drop(['wnvpresent','nummosquitos'],axis=1,inplace=True)

In [ ]:
X_train.drop(['address','addressnumberandstreet','street'], axis =1,inplace=True)

In [ ]:
X_train.drop('date',axis=1,inplace=True)

In [ ]:
#X_train.date = pd.to_datetime(X_train.date,format='%Y-%m-%d')

Using np.where to change values from '0.0' to 0 and 1. Probably should have used .apply(int)

In [ ]:
y_train_wnv.wnvpresent = np.where(y_train_wnv.wnvpresent==0.0,0,1)
#y_train_mos.nummosquitos = np.where(y_train.nummosquitos==)

Geting the Id values for the kaggel csv. We do need this data to turn in our results although is has no place in our models.

In [ ]:
df_kaggle = pd.DataFrame(X_test.id)

Droping strings from test

In [ ]:
X_test.drop(['id','date','address','addressnumberandstreet','street'],axis=1,inplace=True)

In [ ]:
X_test.shape

In [ ]:
X_train.shape

Our first model is going to be KNN. To get this we are going to use a grid search to get the best values.

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn_params = {
    'n_neighbors':[1,3,5,9,15,21],
    'weights':['uniform','distance'],
    'metric':['euclidean','manhattan','minkowski'],
    'algorithm':['auto', 'ball_tree', 'kd_tree']
}

knnc_gridsearch = GridSearchCV(KNeighborsClassifier(), knn_params, cv=3, verbose=1, n_jobs=2)

knnc_gridsearch = knnc_gridsearch.fit(X_train, y_train_wnv)

In [ ]:
knnc_gridsearch.best_score_

0.9466971254521226

In [ ]:
knnc_gridsearch.best_params_

{'algorithm': 'auto',
 'metric': 'euclidean',
 'n_neighbors': 21,
 'weights': 'uniform'}

The nice thing about gridsearch is that it produces a large python dictionary which cah be read as a dataframe. I saved this dataframe for all models used with the idea I could display the performance of the features selected as a chart. Unfortunately we did not have time to complete that.

In [ ]:
df_knnc_gs = pd.DataFrame(knnc_gridsearch.cv_results_)
df_knnc_gs.to_csv('./data/knnc_gs_score.csv',index=False)

In [ ]:
df_knnc_gs.head()

In [ ]:
cleo = knnc_gridsearch.predict(X_test)

In [ ]:
df_kaggle['WnvPresent'] = cleo

The kaggel score was pretty bad at below .5

In [ ]:
df_kaggle.id=df_kaggle.id.apply(int)
#df_kaggle.set_index("id", inplace = True)
df_kaggle.to_csv('./data/knnc_kaggel.csv',index=False)

Kaggel 0.49813

In [ ]:
knnc = KNeighborsClassifier()
model = knnc.fit(X_train,y_train_wnv)
pred_knnc = knnc.predict(X_test)
pred_knnc_train = knnc.predict(X_train)
model.score(X_train, y_train_wnv)

Value for score 0.9507900247477632

Adding Random forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc_params = {
    'n_estimators':[3,5,10,15,21],
    #'criterion':['mae','mse'],
    'max_features':['auto','sqrt','log2'],
    'max_depth':[3,5,7,11,13,17,19]
}

rfc_gridsearch = GridSearchCV(RandomForestClassifier(), rfc_params, cv=3, verbose=1, n_jobs=2)

rfc_gridsearch = rfc_gridsearch.fit(X_train, y_train_wnv)

In [ ]:
rfc_gridsearch.best_score_

0.9428897772701313

In [ ]:
rfc_gridsearch.best_params_

{'max_depth': 3, 'max_features': 'log2', 'n_estimators': 3}

In [ ]:
df_rfc_gs = pd.DataFrame(rfc_gridsearch.cv_results_)
df_rfc_gs.to_csv('./data/rfc_gs_score.csv',index=False)

In [ ]:
df_rfc_gs.head()

In [ ]:
cleo = rfc_gridsearch.predict(X_test)
df_kaggle['WnvPresent'] = cleo
df_kaggle.id=df_kaggle.id.apply(int)
df_kaggle.to_csv('./data/rfc_kaggel.csv',index=False)

Kaggel 0.50000

In [ ]:
rfc = RandomForestClassifier()
model = rfc.fit(X_train,y_train_wnv)
pred_rfc = rfc.predict(X_test)
pred_rfc_train = rfc.predict(X_train)
model.score(X_train, y_train_wnv)

0.9765848086807538

In [ ]:
Added XGBoost

In [ ]:
from xgboost import XGBClassifier

In [ ]:
xgc = XGBClassifier()
model = xgc.fit(X_train, y_train_wnv)
pred_xgc = xgc.predict(X_test)
pred_xgc_train = xgc.predict(X_train)
model.score(X_train, y_train_wnv)

0.9475537787930707

In [ ]:
xgc_params = {
    'max_depth':[3,5,7,11,13,17,19],
    'n_estimators':[3,5,10,15,21],
    'booster':['gbtree', 'gblinear', 'dart']
}

xgc_gridsearch = GridSearchCV(XGBClassifier(), xgc_params, cv=3, verbose=1, n_jobs=2)

xgc_gridsearch = xgc_gridsearch.fit(X_train, y_train_wnv)

In [ ]:
xgc_gridsearch.best_score_

0.9475537787930707

In [ ]:
xgc_gridsearch.best_params_

{'booster': 'gblinear', 'max_depth': 3, 'n_estimators': 3}

In [ ]:
df_xgc_gs = pd.DataFrame(xgc_gridsearch.cv_results_)
df_xgc_gs.to_csv('./data/xgc_gs_score.csv',index=False)

In [ ]:
cleo = xgc_gridsearch.predict(X_test)
df_kaggle['WnvPresent'] = cleo
df_kaggle.id=df_kaggle.id.apply(int)
df_kaggle.to_csv('./data/xgc_kaggel.csv',index=False)

Modeling

In [ ]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [ ]:
train.shape

In [ ]:
test.shape

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
#throw all object features into a list, except date.
obj_list = []
for i in train.select_dtypes(include='object').columns:
    obj_list.append(i)
obj_list.remove("date")

In [ ]:
obj_list

In [ ]:
#ensure both train and test have all categories to prevent mismatched columns when dummying variables
for col in obj_list:
    train_vals = list(train[col].unique())
    test_vals = list(test[col].unique())
    total_vals = set(train_vals + test_vals)
    train[col] = pd.Categorical(train[col], categories = total_vals)
    test[col] = pd.Categorical(test[col], categories = total_vals)

In [ ]:
#dummy variables
train = pd.get_dummies(train, columns = obj_list)
test = pd.get_dummies(test, columns = obj_list)

In [ ]:
#check to see if the shape looks fine.
print(train.shape)
print(test.shape)

In [ ]:
features = [x for x in train.columns if x not in ["nummosquitos", "wnvpresent", "date"]]
len(features)

In [ ]:
remove = ["id", "date"]
test_features = [x for x in test if x not in remove]
len(test_features)

In [ ]:
df_maj = train[train.wnvpresent == 0]
df_min = train[train.wnvpresent == 1]

In [ ]:
from sklearn.utils import resample

In [ ]:
df_upsample = resample(df_min, replace=True, n_samples=9000, random_state=42)
df_upsample = pd.concat([df_upsample, df_maj])

In [ ]:
df_upsample["wnvpresent"].value_counts(normalize=True)

In [ ]:
X = df_upsample[features]
y = df_upsample["wnvpresent"]

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import ExtraTreesClassifier, AdaBoostClassifier
from sklearn.naive_bayes import MultinomialNB, GaussianNB

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y)

Logistic Regression

In [ ]:
logreg = LogisticRegression()
ss = StandardScaler()

pipe_logreg = Pipeline([
    ("ss", ss),
    ("logreg", logreg)
])

params = {
    "logreg__penalty" : ["l1", "l2"],
    "logreg__C" : [0.1, 0.5, 1, 5]

}

gs_logreg = GridSearchCV(pipe_logreg, param_grid=params)
gs_logreg.fit(X_train, y_train)

print(gs_logreg.best_params_)
print("CrossValScore", gs_logreg.best_score_)
print(gs_logreg.score(X_test, y_test))

In [ ]:
df_logreg_gs = pd.DataFrame(gs_logreg.cv_results_)
df_logreg_gs.to_csv('./data/logreg_gs_scores.csv',index=False)

In [ ]:
ss1 = StandardScaler()
test_scaled = ss1.fit_transform(test[test_features])
predicts_logreg = gs_logreg.predict(test_scaled)

df_logreg_preds = pd.DataFrame()
ids_1 = test["id"].astype(int)

df_logreg_preds["Id"] = ids_1
df_logreg_preds["WnvPresent"] = predicts_logreg
df_logreg_preds.set_index("Id", inplace = True)

In [ ]:
#For interpretability
logreg1 = LogisticRegression(C = 5, penalty = 'l1')
logreg1.fit(X_train,y_train)
coefs_df_logreg = pd.DataFrame({'feature': features, 'coef_values': logreg1.coef_[0]})

coefs_df_logreg["abs_values"] = coefs_df_logreg["coef_values"].abs()
coefs_df_logreg.sort_values("abs_values", ascending = False).head(20)

In [ ]:
logreg_top = coefs_df_logreg.sort_values("abs_values", ascending = False).head(10)

plt.style.use('fivethirtyeight')
logreg_top.plot(x="feature", y="coef_values", kind="barh", legend=False, title="Logistic Regression Top Predictors")

In [ ]:
# gut check
# df_logreg_preds[df_logreg_preds["WnvPresent"] == 1]

In [ ]:
df_logreg_preds.head()

In [ ]:
df_logreg_preds.to_csv("./data/predicts_logreg.csv")

Extra Trees

In [ ]:
et = ExtraTreesClassifier()

params = {
    "max_depth" : [5, 10, 20],
    "n_estimators" : [10, 20, 40]  
}

gs_et = GridSearchCV(et, param_grid=params)
gs_et.fit(X_train, y_train)

print(gs_et.best_params_)
print("CrossValScore", gs_et.best_score_)
print("Score: ", gs_et.score(X_test, y_test))

In [ ]:
df_et_gs = pd.DataFrame(gs_et.cv_results_)
df_et_gs.to_csv('./data/et_gs_scores.csv',index=False)

In [ ]:
predicts_et = gs_et.predict(test[test_features])

df_et_preds = pd.DataFrame()
ids_2 = test["id"].astype(int)

df_et_preds["Id"] = ids_2
df_et_preds["WnvPresent"] = predicts_et
df_et_preds.set_index("Id", inplace = True)

In [ ]:
#For interpretability
et1 = ExtraTreesClassifier(max_depth=20, n_estimators=20)
et1.fit(X_train, y_train)
features_df_et = pd.DataFrame({'feature': features, 'feature_importances': et1.feature_importances_})
features_df_et.sort_values("feature_importances", ascending = False).head(10)

In [ ]:
et_top = features_df_et.sort_values("feature_importances", ascending = False).head(10)

plt.style.use('fivethirtyeight')
et_top.plot(x="feature", y="feature_importances", kind="barh", legend=False, title="Extra Trees Top Predictors")

In [ ]:
# gut check
# df_et_preds[df_et_preds["WnvPresent"] == 1]

In [ ]:
df_et_preds.head()

In [ ]:
df_et_preds.to_csv("./data/predicts_et.csv")

AdaBoost

In [ ]:
ada = AdaBoostClassifier()

params = {
    "learning_rate" : [0.5, 0.6, 0.7],
    "n_estimators" : [30, 40, 50, 60] 
}

gs_ada = GridSearchCV(ada, param_grid=params)
gs_ada.fit(X_train, y_train)

print(gs_ada.best_params_)
print("CrossValScore", gs_ada.best_score_)
print("Score: ", gs_ada.score(X_test, y_test))

In [ ]:
df_ada_gs = pd.DataFrame(gs_ada.cv_results_)
df_ada_gs.to_csv('./data/ada_gs_scores.csv',index=False)

In [ ]:
predicts_ada = gs_ada.predict(test[test_features])

df_ada_preds = pd.DataFrame()
ids_3 = test["id"].astype(int)

df_ada_preds["Id"] = ids_3
df_ada_preds["WnvPresent"] = predicts_ada
df_ada_preds.set_index("Id", inplace = True)

In [ ]:
test["wnv_predict"] = predicts_ada

In [ ]:
test.to_csv("./data/test_predicts_ada.csv")

In [ ]:
#For interpretability
ada1 = AdaBoostClassifier(learning_rate=0.7, n_estimators=60)
ada1.fit(X_train, y_train)
features_df_ada = pd.DataFrame({'feature': features, 'feature_importances': ada1.feature_importances_})
features_df_ada.sort_values("feature_importances", ascending = False).head(10)

In [ ]:
ada_top = features_df_ada.sort_values("feature_importances", ascending = False).head(10)

plt.style.use('fivethirtyeight')
ada_top.plot(x="feature", y="feature_importances", kind="barh", legend=False, title="AdaBoost Top Predictors")

In [ ]:
# gut check
# df_ada_preds[df_ada_preds["WnvPresent"] == 1]

In [ ]:
df_ada_preds.head()

In [ ]:
df_ada_preds.to_csv("./data/predicts_ada.csv")

Naive Bayes - Multinomial

In [ ]:
gausnb = GaussianNB()
ss = StandardScaler()

pipe_gausnb = Pipeline([
    ("ss", ss),
    ("gausnb", gausnb)
])


pipe_gausnb.fit(X_train, y_train)

print("CrossValScore", pipe_gausnb.score(X_train, y_train))
print("Score: ", pipe_gausnb.score(X_test, y_test))

In [ ]:
predicts_gausnb = pipe_gausnb.predict(test[test_features])

df_gausnb_preds = pd.DataFrame()
ids_4 = test["id"].astype(int)

df_gausnb_preds["Id"] = ids_4
df_gausnb_preds["WnvPresent"] = predicts_gausnb
df_gausnb_preds.set_index("Id", inplace = True)

In [ ]:
# gut check
# df_gausnb_preds[df_gausnb_preds["WnvPresent"] == 1]

In [ ]:
df_gausnb_preds.head()

In [ ]:
df_gausnb_preds.to_csv("./data/predicts_gausnb.csv")

Kaggel 0.50000

AT this point I was attempting to create a new dataframe for use in a bokeh map that I created. The map was interactive and showed the spread of WNV over the months that we have data for. In the future the goal is to be able to run the bokeh code in the bokeh server using lambda with the AWS.

In [ ]:
test_train.longitude.unique()

In [ ]:
df_graph = pd.read_csv('./data/graph.csv')

Getting only the train data.

In [ ]:
df_graph=df_graph[df_graph['wnvpresent'] != -1]

Dropping columns that don't have a value to the graph I'm creating

In [ ]:
df_graph.drop(['Unnamed: 0','address','street','addressnumberandstreet','addressaccuracy','lat_int',
              'lon_int'],axis = 1, inplace = True)

In [ ]:
df_graph.drop(df_graph.loc[:,'tmax_1':'avgspeed_2'].columns, axis=1, inplace=True)

Pulling out the year. This is important to iterate in our map.

In [ ]:
from datetime import datetime

In [ ]:
def get_year(y):
    return y.year

In [ ]:
df_graph.date=pd.to_datetime(df_graph.date, format='%Y-%m-%d')

In [ ]:
df_graph['year'] = df_graph.date.apply(get_year)

Summing up WNV present and number of mosquitoes and placing them in a dataframe. Num mosquitoes was to be used if we wanted to display the number of mosquitoes on the map. This was droped because of time.

In [ ]:
df_graph2 = pd.DataFrame(df_graph.groupby(['month','year','trap'],as_index=False)['nummosquitos'].sum())

In [ ]:
df_graph2.shape

In [ ]:
df_graph4 = pd.DataFrame(df_graph.groupby(['month','year','trap'],as_index=False)['wnvpresent'].sum())
df_graph4.shape

Merging in columns that are necessary for the map

In [ ]:
df_graph2['wnvpresent']=df_graph4.wnvpresent
df_graph2[df_graph2['wnvpresent']>1].head()

In [ ]:
df_graph4 = pd.DataFrame(df_graph.groupby(['month','year','trap'],as_index=False)['latitude'].min())
df_graph4.head()

In [ ]:
df_graph2['latitude']=df_graph4.latitude

In [ ]:
df_graph4 = pd.DataFrame(df_graph.groupby(['month','year','trap'],as_index=False)['longitude'].min())
df_graph2['longitude']=df_graph4.longitude
df_graph2.head()

In [ ]:
df_graph4 = pd.DataFrame(df_graph.groupby(['month','year','trap'],as_index=False)['species'].apply(lambda x: "%s" % ', '.join(x)))
df_graph4.reset_index(inplace=True)
df_graph4.rename(columns={0:'species'},inplace=True)
#df_graph4.head()
df_graph2['species']=df_graph4['species']
df_graph2.head()

In [ ]:
df_graph2.to_csv('./data/bokeh_monthly.csv',index=False)

In [ ]:
df_bokeh = pd.read_csv('./data/bokeh_monthly.csv')

In [ ]:
df_bokeh.sort_values(by=['year','month'],inplace=True)

Creating an index incremented by month. This code was made with the help of Joe Dorfman

In [ ]:
df_bokeh['month_year'] = tuple(zip(df_bokeh['month'], df_bokeh['year']))

df_bokeh['month_year'] = df_bokeh['month_year'].factorize()[0]

In [ ]:
df_bokeh.tail(100)

Saving the datato a csv

In [ ]:
df_bokeh.to_csv('./data/bokeh_monthly2.csv',index=False)

In [ ]:
df_bokeh = pd.read_csv('./data/bokeh_monthly2.csv')

This is old code for the brokeh map.

In [ ]:
from bokeh.io import output_notebook, show
output_notebook()
import os
from ipywidgets import interact
from bokeh.models import GMapOptions
from bokeh.plotting import gmap
from bokeh.models import ColumnDataSource
from bokeh.models import HoverTool
from bokeh.models import LinearInterpolator, CategoricalColorMapper,LinearColorMapper
from bokeh.layouts import widgetbox
from bokeh.models.widgets import Slider
from bokeh.palettes import PuBu, Oranges

size_mapper = LinearInterpolator(x=[df_bokeh.wnvpresent.min(),df_bokeh.wnvpresent.max()],
                                y=[5,50])

color_mapper = LinearColorMapper(palette=Oranges[9],
                                 high=df_bokeh.wnvpresent.min(),
                                 low=df_bokeh.wnvpresent.max())

from ipywidgets import interact
from bokeh.io import push_notebook
#data1=ColumnDataSource(df_bokeh)

    #print('?')
    
#interact(update, m=(0,19,1))

map_options = GMapOptions(lat=41.881832, lng=-87.623177, map_type="roadmap", zoom=10)

# Replace the value below with your personal API key:
api_key = "Add Personal Googel API"


hover = HoverTool(
        tooltips=[
            ("Trap",'@trap'),
            ("Species",'@species'),
            ("Coordinates", "(@latitude{0.0000}, @longitude{0.0000})"),
        ]
    )

p = gmap(api_key, map_options, title="Chicago - West Nile Outbreak")

p.toolbar.active_inspect = [hover]

#data1=ColumnDataSource(df_bokeh)

data = dict(lat=df_bokeh.latitude.unique(),
            lon=df_bokeh.longitude.unique(),
            trap=df_bokeh.trap.unique(),
            species=df_bokeh.species)

#source=df_bokeh[df_bokeh.month_year==0]
source=df_bokeh

r = p.circle(x='longitude', y='latitude',
         size={'field':'wnvpresent','transform':size_mapper},
         fill_color={'field':'wnvpresent','transform':color_mapper},
         fill_alpha=0.6,
         source = df_bokeh[df_bokeh.month_year==5])
#p.circle(x="lon", y="lat", size=10, fill_color="blue", fill_alpha=0.6, source=data)
p.add_tools(hover)
#p.below=show(widgetbox(slider))
#show(widgetbox(slider))

#show(p,notebook_handle=True)

def update(m):
    #data = dict(lat=df_bokeh.loc[month_year].latitude,
    #        lon=df_bokeh.loc[month_year].longitude,
    #        trap=df_bokeh.loc[month_year].trap,
    #        species=df_bokeh.loc[month_year].species)
    #data1.data = data
    r.data_source.data['longitude']=df_bokeh[df_bokeh.month_year==m]['longitude']
    r.data_source.data['latitude']=df_bokeh[df_bokeh.month_year==m]['latitude']
    r.data_source.data['wnvpresent']=df_bokeh[df_bokeh.month_year==m]['wnvpresent']
    r.update
    hover = HoverTool(
        tooltips=[
            ("Trap",'@trap'),
            ("Species",'@species'),
            ("Coordinates", "(@latitude{0.0000}, @longitude{0.0000})"),
        ]
    )
    #p.add_tools(hover)
    
    #hover.update
    #print(m)
    #p.title.text="Chicago - West Nile Outbreak {}".format
    push_notebook()
    
interact(update, m=(0,19,1))
    
show(p,notebook_handle=True)

Attempted to move the map to an html file. It brought over images of the map but did not keep the interactive portion.

In [ ]:
from bokeh.plotting import figure
from bokeh.resources import CDN
from bokeh.embed import file_html

In [ ]:
html = file_html(p, CDN, "my plot")

In [ ]:
Html_file= open("bokeh.html","w")
Html_file.write(html)
Html_file.close()


html

In [ ]:
 hover.tooltips[0][1]

In [ ]:
df_bokeh[df_bokeh.month_year==3]